[Desktop Entry]
Version=0.4
Type=Application
Name=Run
Name[tr]=Çalıştır
GenericName=Run
GenericName[tr]=Çalıştır
Comment=A helper application for running program
Comment[tr]=Program çalıştırma için bir yardımcı uygulama
TryExec=run
Exec=run
Icon=gnome-run
Terminal=false
Categories=System;GTK;
StartupNotify=false
