[Desktop Entry]
Version=0.6
Type=Application
Name=Run
Name[tr]=Çalıştır
GenericName=Run
GenericName[tr]=Çalıştır
Comment=A helper application for running program
Comment[tr]=Program çalıştırma için bir yardımcı uygulama
TryExec=run
Exec=run
Icon=net.ercanersoy.run
Terminal=false
Categories=System;GTK;
StartupNotify=false
